# ----------------------------------------
# 🔧 Carpetas de compilación
bin/
obj/

# 🔧 Visual Studio
.vs/
*.suo
*.user
*.vspscc
*.cache

# 🧪 Archivos de build y debug
*.exe
*.dll
*.pdb
*.log

# 🔄 Archivos temporales
*.tmp
*.db
*.db-wal
*.db-shm

# 🧪 Archivos ocultos del sistema (macOS/Linux)
.DS_Store
Thumbs.db