@inherits LayoutComponentBase

<div class="page d-flex" style="min-height: 100vh; background: transparent;">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main class="flex-fill" style="background-color: transparent !important;">
        <div class="top-row px-4">
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <section class="content px-4" style="background-color: transparent !important;">
            @Body
        </section>
    </main>
</div>